* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.first-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  background: linear-gradient(180deg, #6543fee1, #2f29cc);
  border-radius: 20px;
  color: white;
  font-family: "Hanken Grotesk";
  gap: 40px;
}

.second-half {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 20px;
  font-family: "Hanken Grotesk";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  width: 800px;
  box-shadow: 0px 10px 20px 1px #b1d4dd86;
  height: 530px;
  border-radius: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3d58;
  text-align: center;
  color: white;
  width: 300px;
  height: 55px;
  border-radius: 50px;
  margin-top: 24px;
  margin-left: 50px;
}

.summary {
  display: flex;
  align-self: flex-start;
  font-weight: bolder;
  font-size: x-large;
  font-family: "Hanken Grotesk";
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.reaction {
  display: flex;
  align-items: center;
  position: relative;
  color: #f32013;
  background-color: #faddda73;
  height: 60px;
  width: 300px;
  padding-left: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.reaction-icon {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  padding-left: 10px;
}

.reaction-value {
  margin-left: 100px;
  color: rgb(34, 34, 34);
  font-size: larger;
}

.reaction-value2 {
  color: rgb(148, 148, 148);
}

.div-reaction {
  display: flex;
  position: relative;
  padding-left: 50px;
}

.div-memory {
  display: flex;
  position: relative;
  padding-left: 50px;
}

.memory-value {
  margin-left: 100px;
  color: rgb(34, 34, 34);
  font-size: larger;
}

.memory-value2 {
  color: rgb(148, 148, 148);
}

.memory-icon {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  padding-left: 10px;
}

.memory {
  display: flex;
  align-items: center;
  position: relative;
  color: #ffa600;
  background-color: #f8bd502f;
  height: 60px;
  width: 300px;
  padding-left: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.verbal {
  display: flex;
  align-items: center;
  position: relative;
  color: #07be8a;
  background-color: #73e7c62f;
  height: 60px;
  width: 300px;
  padding-left: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.verbal-icon {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  padding-left: 10px;
}

.verbal-value2 {
  color: rgb(148, 148, 148);
}

.verbal-value {
  margin-left: 112px;
  color: rgb(34, 34, 34);
  font-size: larger;
}

.div-verbal {
  display: flex;
  position: relative;
  padding-left: 50px;
}

.visual {
  display: flex;
  align-items: center;
  position: relative;
  color: #263ad9;
  background-color: #929df03f;
  height: 60px;
  width: 300px;
  padding-left: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.visual-icon {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  padding-left: 10px;
}

.visual-value {
  margin-left: 113px;
  color: rgb(34, 34, 34);
  font-size: larger;
}

.visual-value2 {
  color: rgb(148, 148, 148);
}

.div-visual {
  display: flex;
  position: relative;
  padding-left: 50px;
}

.heading {
  font-size: x-large;
  font-weight: bolder;
  color: #ffffffb9;
  font-family: "Hanken Grotesk";
  margin-top: 30px;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#2f29cc, #6543fee1);
  height: 200px;
  width: 200px;
  border-radius: 5000px;
}

.value1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: bolder;
}

.value2 {
  display: flex;
  justify-content: center;
  color: #ffffffb9;
}

.great {
  font-weight: bolder;
  font-size: xx-large;
}

.body {
  text-align: center;
  width: 220px;
  color: #ffffffb9;
}

@media (max-width: 481px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    border-bottom: 0px;
    box-shadow: none;
  }

  .heading {
    font-size: large;
    font-weight: bolder;
    color: #ffffffb9;
    font-family: "Hanken Grotesk";
    margin-top: 30px;
  }

  .body {
    text-align: center;
    width: 300px;
    color: #ffffffb9;
  }

  .great {
    font-weight: bolder;
    font-size: x-large;
  }

  .summary {
    font-size: large;
  }
  .first-half {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, #6543fee1, #2f29cc);
    border-radius: 0px 0px 20px 20px;
    color: white;
    font-family: "Hanken Grotesk";
    gap: 30px;
    margin-top: 120px;
    padding-top: 70px;
  }

  .second-half {
    display: flex;
    align-items: start;
    width: 100%;
    gap: 20px;
    font-family: "Hanken Grotesk";
  }

  .attribution {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 190px;
  }
}
